<ul class="list-unstyled">
  <div class="row">
    <div class="col-md-6">
      <li class="card card-body mb-3 ml-3 mt-3" *ngFor="let task of tasks">
        <h3>{{ task.title }}</h3>
        <ul class="list-group mb-3">
          <li class="list-group-item">Description: {{ task.description }}</li>
          <li class="list-group-item">
            Completed:
            <span [ngClass]="{ 'text-danger': task.completed == false }">
              {{ task.completed }}
            </span>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-4">
            <button
              class="btn btn-success btn-s"
              (click)="completeTask(task._id)"
              [disabled]="task.completed === true"
            >
              Complete Task
            </button>
          </div>
          <div class="col-md-4">
            <button class="btn btn-danger btn-s" (click)="deleteTask(task._id)">
              Delete Task
            </button>
          </div>
        </div>
      </li>
    </div>
    <div class="col-md-5">
      <div class="card card-body mb-3 mt-3">
        <h2>Add Task</h2>
        <form [formGroup]="taskForm" (ngSubmit)="save()">
          <div class="form-group">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              name="title"
              required
              minlength="2"
              formControlName="title"
              [ngClass]="{
                'is-invalid':
                  (taskForm.get('title').touched ||
                    taskForm.get('title').dirty) &&
                  !taskForm.get('title').valid
              }"
            />
            <span
              *ngIf="taskForm.get('title').errors?.required"
              class="invalid-feedback"
            >
              Title is required
            </span>
            <div
              *ngIf="taskForm.get('title').errors?.minlength"
              class="invalid-feedback"
            >
              must be at least two characters
            </div>
          </div>
          <div class="form-group">
            <label>description</label>
            <input
              type="text"
              class="form-control"
              name="description"
              required
              minlength="2"
              formControlName="description"
              [ngClass]="{
                'is-invalid':
                  (taskForm.get('description').touched ||
                    taskForm.get('description').dirty) &&
                  !taskForm.get('description').valid
              }"
            />
            <div
              *ngIf="taskForm.get('description').errors?.required"
              class="invalid-feedback"
            >
              description is required
            </div>
            <div
              *ngIf="taskForm.get('description').errors?.minlength"
              class="invalid-feedback"
            >
              description must be at least two characters
            </div>
          </div>

          <button
            class="btn btn-block btn-success mb-3 mt-3"
            [disabled]="!taskForm.valid"
          >
            Add Task
          </button>
        </form>
      </div>
    </div>
  </div>
</ul>
